/* BOOTSTRAP OVERRIDES */
.deepblue {
	background-color: #171D24;
}

.black {
	background-color: #000000;
} 

.button,
.sort,
.alphabet {
    cursor: pointer;
}

/* button dropdown */

.sortdown {
    position: relative;
    display: inline-block;
    float: right;
}

.sortbtn {
    background-color: #171D24;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    border: none;
}

.sortdown-menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

.sortdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.sortdown-menu a:hover {background-color: #ddd;}

.sortdown:hover .sortdown-menu {display: block;}

.sortdown:hover .sortbtn {background-color: #000000;}